body {
	background-color:#2D2E2E;
	margin:0;
}

div#header {
	position:fixed;
	width:100%;
	top:0;
	height:50px;
	background-color:#8CCBD4;
}

div#sidebar {
	float:left;
	margin:0px 20px 20px 20px;
	width:200px;
	background-color:#8CCBD4;
}

div#content {
	margin: 70px 20px 20px 240px ;
	background-color:#80B3FF;
}