@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

body {
	background-color:#2D2E2E;
	font-family:"Open Sans";
	margin:0;
}

img {
	display:block;
	width:100%;
}

li {
	list-style: none;
}

li.slide {
	position:relative;
	display:block;
	top:0px;
	width:640px;
}

div.scale-tag {
	display:inline-block;
	width:40px;
}

div.meter {
	position:relative;
	height:40px
}

div.needle {
	position:absolute;
	top:4px;
	left:30px;
	width:30px;
}

div.meter-value {
	width:100%;
	text-align:center;
}

div.scale {
	display:inline-block;
	width:400px;
	height:10px;
	background: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
}

div.scale-tag {
	text-align:right;
}

div.circle {
    border-radius: 50px/50px;
    border:solid 3px #000000; 
    width:10px;
    height:10px;
	margin-left: auto;
	margin-right: auto;
}

div#curtain {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:#DCDCDC;
	z-index:999;
}

div#info-box {
	overflow: auto;
}

div#glass {
	position:absolute;
	left:535px;
	margin-top:16px;
	border-top: 120px solid rgba(220, 220, 220, 0.1);
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	height: 0;
	width: 55px;
	z-index: 250;
}

div#beer {
	position:absolute;
	left:542px;
	margin-top:39px;
	border-top: 90px solid rgb(192, 117, 56);
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	height: 0;
	width: 45px;
	z-index:200;
}

div#beer-head {
	position:absolute;
	left:541px;
	margin-top:16px;
	border-top: 25px solid #dddddd;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	height: 0;
	width: 55px;
}

div#beer-head-bulge {
	position:absolute;
	left:541px;
	margin-top:11px;
	width: 56px; 
	height: 10px; 
	background: #dddddd; 
	-moz-border-radius: 100px / 35px; 
	-webkit-border-radius: 100px / 35px; 
	border-radius: 20px / 5px;
}

img#glass-logo {
	position:absolute;
	left:554px;
	margin-top:53px;
	width:30px;
	z-index:300;
}

div#meter-box {
	float:left;
	width:450px;
	padding:10px 15px 10px 15px;
	background-color:#DCDCDC;
}

img#logo {
	position:relative;
	top:16px;
	width:170px;
	margin-left: auto;
	margin-right: auto;
}

div#logo-back {
	width: 200px; 
	height: 70px; 
	background: #dcdcdc; 
	-moz-border-radius: 100px / 35px; 
	-webkit-border-radius: 100px / 35px; 
	border-radius: 100px / 35px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	box-shadow: #000000 0 0 10px;
}

div#header {
	position:fixed;
	z-index:900;
	width:100%;
	top:0;
	height:50px;
	background-color:#888888;
	box-shadow:#000000 0 0 10px;
}

div#page {
	margin-left:auto;
	margin-right:auto;
	width:960px;
}

div#sidebar {
	float:left;
	margin:0px 20px 20px 0px;
	width:300px;
	background-color:#888888;
	box-shadow:#000000 0 0 10px;
}

div#content {
	margin: 70px 20px 20px 320px;
	width:640px;
	background-color:#888888;
	box-shadow:#000000 0 0 10px;
}

div#label-slider {
	position: relative;
	overflow: hidden;
	margin: 20px auto 0 auto;
}

div#label-slider a {
	position:absolute;
	top: 45%;
	padding: 2% 2%;
	width:640;
	height: auto;
	text-decoration:none;
	font-weight: 600;
	font-size: 18px;
	color:#dcdcdc;
	background:rgba(0,0,0,0.4);
	z-index:500;
}

#label-slider ul {
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
}

#label-slider ul li {
	position: relative;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	width: 640px;
	background: #ccc;
	text-align: center;
}

#slider-next {
	right: 0;
}

div#beer-info {
	position:relative;
	padding:10px;
	background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0));
}